<div>
  {{#if this.fetchDwellings.isRunning}}
    <Loading />
  {{else}}
    <LinkedModels
      @models={{this.fetchDwellings.lastSuccessful.value}}
      @modelName="dwelling"
      @newRoute="building.edit.dwelling.new"
      @removeLink={{this.confirmRemoveDwelling}}
    >
      <:list as |model|>
        <td class="uk-table-shrink">
          <LinkTo
            @route="building.edit.dwelling.edit"
            @model={{model.EWID}}
            class="uk-link"
          >
            {{model.EWID}}
          </LinkTo>
        </td>
        <td>
          {{concat
            (t
              "ember-gwr.buildingEntrance.title"
              address=model.buildingEntrance.EDID
            )
            " - "
            model.buildingEntrance.fullAddressText
          }}
        </td>
        <td>
          {{if
            model.noOfHabitableRooms
            (t
              "ember-gwr.building.dwellings.rooms"
              number=model.noOfHabitableRooms
            )
            "-"
          }}
        </td>
        <td>
          {{if
            model.floor
            (t model.floorLabel.label number=model.floorLabel.number)
            "-"
          }}
        </td>
        <td>
          {{or model.locationOfDwellingOnFloor "-"}}
        </td>
      </:list>
    </LinkedModels>
  {{/if}}
</div>
<UkModal
  @visible={{this.dwellingToRemove}}
  @container={{this.config.modalContainer}}
  as |Modal|
>
  <ValidatedForm
    @model={{changeset @model this.RemoveDwellingValidations}}
    @on-submit={{this.removeDwelling}}
    as |Form|
  >
    <Modal.header>
      <h2 class="uk-modal-title">
        Removing Dwelling
      </h2>
    </Modal.header>
    <Modal.body class="uk-overflow-auto">
      <Form.input
        @type="textarea"
        @label="Removal Reason"
        @name="removeReason"
        @rows="10"
        @required={{true}}
        @hint="Enter the reason for removing the dwelling"
        @errorComponent={{component "validated-form-error"}}
      />
    </Modal.body>
    <Modal.footer class="uk-text-right">
      <Form.button
        @label="Cancel"
        class="uk-modal-close"
      />
      <Form.submit
        @label="Save"
      />
    </Modal.footer>
  </ValidatedForm>
</UkModal>
